body {
    background-color: #111;
    font-family: sans-serif;
    color: white;
  }
  
  div {
    position: absolute;
    left: 35%;
    top: 150px;
    font-size: 200%;
  }
  
  /* Popup container */
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 26px;
    padding: 10px 20px 10px 20px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 45%;
    margin-left: -80px;
    font-size: 50%;
   
  }
  
  
  
  /* hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* fade animation for popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }